@import '~bootstrap/scss/bootstrap';

.pokemon-logo {
  min-width: 100px;
  width: 750px;
  margin: auto;
  display: block;
}
/* *{
    border: 1px solid red;
} */
body {
  background-color: #2b3050;
  color: white;
}
.card {
  background-color: #343d65;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
p {
  font-weight: bold;
  color: #f7bb14;
}
/* .progress-bar{
    color: black;
} */
